extends ../layout

block head
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
    link(rel="stylesheet", href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css")
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    script(src='../js/registration/registrationsTable.js')
    style. 
      .container {
        max-width: 65% !important;
      }

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1 Registered Users Waiting List
  .pb-2.mt-2.mb-4.border-bottom 
    br
    .table-responsive
    table.table.table-hover(data-toggle="table", data-pagination="true", data-search="true")
        thead

        tr
            th(data-sortable="true", data-field="companyName") Company Name
            th(data-sortable="true", data-field="primaryContactName") Contact Name
            th(data-sortable="true", data-field="state") State
            th(data-sortable="true", data-field="companyPhone") Phone Number
            th(data-sortable="true", data-field="email") Email
            th(data-sortable="true", data-field="companyWebsite") Website
            th(data-sortable="true", data-field="companyInfo") Sector 
            th(data-sortable="true", data-field="numberOfShowrooms") Showrooms
            th(data-sortable="true") Date Added
            th(data-sortable="false")
            th(data-sortable="false")
        tbody
        each cust in allRegisteredUsers
            -const date = new Date(cust.createdAt);
            -const d = date.getDate();
            -const m = date.getMonth();
            -const y = date.getFullYear();
            -const time = date.toLocaleTimeString('en-US');
            -const dateTimeRes = (m + '/' + d + '/' + y + ' : ' + time);
            form(method='POST')
                input(type='hidden', name='_csrf', value=_csrf)
                input(type='hidden', name='registeredUserId', value=cust.id)
                tr
                    td=cust.companyName
                    td=cust.primaryContactName
                    td=cust.state 
                    td=cust.companyPhone
                    td=cust.email 
                    td=cust.companyWebsite
                    td=cust.companyInfo
                    td=cust.numberOfShowrooms
                    td=dateTimeRes
                    td
                        button.btn.btn-primary(class="btnRegistrationDetails", href="#" , data-id=cust.id, style="width:6em;")
                            | Details
                    td
                        button.btn.btn-primary(type='submit', data-id=cust.id, style="width:6em;")
                            | Add User
    br

  .pb-2.mt-2.mb-4.border-bottom
  