extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 Sign up
  form(id='signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='companyInfo') Company Info
      .col-md-7
        textarea.form-control(name='companyInfo', id='companyInfo', placeholder='Company Info', autofocus, rows='5', value=companyInfo)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='companyName') Company Name
      .col-md-7
        input.form-control(type='text', name='companyName', id='companyName', placeholder='Company Name', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='companyAddress') Company Address
      .col-md-7
        input.form-control(type='text', name='companyAddress', id='companyAddress', placeholder='Company Address', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='companyPhone') Company Phone
      .col-md-7
        input.form-control(type='text', name='companyPhone', id='companyPhone', placeholder='Company Phone', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='companyWebsite') Company Website
      .col-md-7
        input.form-control(type='text', name='companyWebsite', id='companyWebsite', placeholder='Company Website', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='classOfTrade') Class of Trade
      .col-md-7
        input.form-control(type='text', name='classOfTrade', id='classOfTrade', placeholder='Class of Trade', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='numberOfShowrooms') Number of Showrooms
      .col-md-7
        input.form-control(type='number', name='numberOfShowrooms', id='numberOfShowrooms', placeholder='Number of Showrooms', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='ownerCeo') Owner/CEO
      .col-md-7
        input.form-control(type='text', name='ownerCeo', id='ownerCeo', placeholder='Owner/CEO', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='registeredAs') Registered As
      .col-md-7
        input.form-control(type='text', name='registeredAs', id='registeredAs', placeholder='Registered As', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='ein') EIN
      .col-md-7
        input.form-control(type='text', name='ein', id='ein', placeholder='EIN', autofocus, required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='methodOfPayment') Method of Payment
      .col-md-7
        select.form-control(name='methodOfPayment', required)
            option(value='cash')= 'cash'
            option(value='visa')= 'visa'
            option(value='mastercard')= 'mastercard'
            option(value='paypal')= 'paypal'
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', minlength='8', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', minlength='8', required)
    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-success(type='submit', style="float: right;")
        i.fas.fa-user-plus.fa-sm
        | Signup
