extends ../layout

block head
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
  link(rel="stylesheet", href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css")

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1(style="text-align:center;") Welcome!
  .pb-2.mt-2.mb-4.border-bottom 
    .row
        .col-md-12
          if businessCard
            .business-card 
              .card
                .card-body
                  .row(style="margin-bottom: 2%;")
                      .col-md-1-1(style="margin-left: 1%;")     
                  .row
                    .col-md-5 
                      if customerLogoFile
                        img(style="width: 65%;height: 65%;" src=`/img/users/${customerLogoFile.fileName}` class="img-thumbnail" alt="...")
                    .col-md-7
                      .row
                        .col-md-12
                          span(style="font-weight: 700;font-size: xx-large;")=`Welcome to ${businessCard.companyName}`
                          <br />
                          span(style="font-size: small;font-weight: 200; font-style: italic;")=`You are in ${businessCard.showroomLocation}`
                          <br />
                          <br />
                          span(style="font-size: large;font-weight: 500;")=`${businessCard.streetAddress}`
                          <br />
                          span(style="font-size: large;font-weight: 500;")=`${businessCard.streetAddress2}`
                          <br />
                          span(style="font-size: medium;font-weight: 500;")=`${businessCard.contactInfo}`
                          <br />
                          <br />
                          span(style="font-size: small;font-weight: 100;")=`${businessCard.buyerReqs}`
                          <br />
                      .row
                        .col-md-3(style="padding-right: 0px !important;")
                          span(style="font-weight: 700;font-size: larger;")=`SHIPPING`
                        .col-md-9(style="padding-left: 0px !important;")
                          span(style="font-size: small;font-weight: 100;")=`${businessCard.shippingFrom}`
                      .row
                        .col-sm-6
                          span(style="font-weight: 700;font-size: larger;")=`CURRENT MARKET PROMO`
                        .col-md-6
                          span(style="font-size: small;font-weight: 100;")=`${businessCard.promos}`
                      .row
                        .col-md-3
                          span(style="font-weight: 700;font-size: larger;")=`CONTACT`
                        .col-md-9
                          span(style="font-size: small;font-weight: 100;")=`${businessCard.companyContactInfo}`
                  .row
                    .col-md-10(style="margin-bottom: 2%;")
                      span(style="font-weight: 700;font-size: larger; font-style: italic;")=`WHAT WOULD YOU LIKE TO DO TODAY?`
                    .col-md-2
                  if user.isAdmin && !isCustomerView
                    .row
                      .col-md-12
                        a.button.btn.btn-light(type="button",  href="/admin/registeredUsers", style="margin:0.3em; width:22%;") MANAGE REGISTRATIONS
                  .row
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") SAVE SHOWROOM INFO
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") REQUEST A CATALOG
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") CREATE A QUOTE NOTE 
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") FEEDBACK
                  .row
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") SCHEDULE APPOINTMENTS
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") REGISTER
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") SUBMIT AN ORDER 
                    .col-md-3
                      button.btn.btn-light(type="button", style="margin:2%;width:95%;") FAQ
                  .row
                    .col-md-12
                      button.btn.btn-light(type="button", style="margin:0.3em; width:22%;") REQUEST A FOLLOW-UP
    if (!isCustomerView)
      .row
          .col-md-6
              button.btn.btn-primary(type="button", style="float:right;margin:2%;width:50%;") Enable/Disable QR Code
          .col-md-6
              a.button.btn.btn-primary(type="button", href="/dashboard/generateQRCode", style="float:left;margin:2%;width:50%;") Download My QR Code
      .row
          .col-md-6
            a.button.btn.btn-primary(type="button", href="/dashboard/admin-calendar", style="float:right;margin:2%;width:50%;") Calendar and Appointments
          .col-md-6
              button.btn.btn-primary(type="button", style="float:left;margin:2%;width:50%;") Catalog Requests
      .row
          .col-md-6
              button.btn.btn-primary(type="button", style="float:right;margin:2%;width:50%;") Scans Tracker
          .col-md-6
              button.btn.btn-primary(type="button", style="float:left;margin:2%;width:50%;") Feedback 
      .row
          .col-md-12(style="text-align:center;")
              a.button.btn.btn-primary(type="button", href="/dashboard/business-card/create-business-card-form", style="margin:2%;width:50%;") Create or Edit Business Card
      .row
          .col-md-12(style="text-align:center;")
              a.button.btn.btn-primary(type="button", href="/dashboard/customer-view", style="margin:2%;width:50%;") See What Customer Sees
    else 
       .row
        .col-md-12
            a.button.btn.btn-primary(type="button", href=``, style="float:right;width:100%;") Schedule Appointment
  .pb-2.mt-2.mb-4.border-bottom