extends ../frontEndLayout

block head
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
  link(rel="stylesheet", href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css")
  script(src='/js/frontEndCalendar/frontEndCalendar.js')
  meta(name="meta-token" content= _csrf )
  style.
    .ui-dialog { 
      z-index: 1!important ;
      background: white !important;
      border: 1px solid #343a40;
      padding-left: 5px !important; 
      padding-bottom: 5px !important;
      
    }
    .no-close .ui-dialog-titlebar-close {
      display: none;

    }
    select {
      margin-top: 5px;
      padding-top: 2px;
      padding-bottom: 2px;
    }
    
    input {
      margin-top: 5px !important;
    }
    #apptDialog {
      display: none;
    }
    .btnSubmit {
      width: 50%;
    }
    .btnCancel {
      width: 50%;
    }
block content
  div(class="container")
    //- -function prettyDate(){
    //-   -var d = new Date();
    //-   -var monthNames = [ "January", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    //-   -var m = monthNames[d.getMonth()];
    //-   -var y = d.getFullYear();
    //-   -return m+', '+y;
    //- -} 
    .row
      .col-md-10
        h1(style="text-align: center;") Welcome to #{businessName}
          hr
      .col-md-2
          a.button.btn.btn-primary(type="button", href=`/ui/front-end-card/${adminId}`, style="float:right;margin:2%;width:100%;") Back to Card
      
  div(class="container")
      div(id="popup-dialog" title="Meeting Information") 

  div(id='frontEndCalendar')
    div(class="container")
      div(id="apptDialog" title="Make an Appointment!" style="width: 30em;") 
        form(id="apptDialogForm"  method='POST' action='/meeting/create')
          input(type="hidden" name="business" id="business" value=businessName)
          input(type="hidden" name="meetings" id="meetings" value=meetings)
          input(type="hidden" name="admin-id" id="admin-id" value=adminId)
          
          div(class="row", style="background-color: #f1f1f1;width: 101%;margin-left: -1%;margin-top: 4%;")
            div(class="col-12")
              div(class="row")
                div(class="col-6")
                  span(style="margin-left: 1%;") #{businessName}
                div(class="col-6")
                  span(style="margin-left: 1%;") #{longDate}
              div(class="row")
                div(class="col-6")
                  span(style="margin-left: 1%;") #{location}
                div(class="col-6")
                  span(id="timeFrameSpan", style="margin-left: 1%;")

          div(class="row", style="text-align: center;margin-top: 0.5em;margin-bottom: 0.5em;")
            div(class="col-12", style="font-size: 1.2em;")
              span <b>Your Information</b>

          div(class="row")
            div(class="col-6", style="padding-right: 0px;")
              label(for="name") Name
            div(class="col-6", style="padding-left: 0px;")
              input(type="text", id="name", name="name", size="16", required, style="width: 96%;")
          div(class="row")
            div(class="col-6", style="padding-right: 0px;")
              label(for="name") Company Name
            div(class="col-6", style="padding-left: 0px;")
              input(type="text", id="copmanyName", name="copmanyName", size="16", required, style="width: 96%;")
          div(class="row")
            div(class="col-6", style="padding-right: 0px;")
              label(for="contact-input") Phone number
            div(class="col-6", style="padding-left: 0px;")
              input(type="text", id="contact-input", name="contact", size="16", required, style="width: 96%;") 
          div(class="row")
            div(class="col-6", style="padding-right: 0px;")
              label(for="name") E-mail Address (optional)
            div(class="col-6", style="padding-left: 0px;")
              input(type="text", id="copmanyName", name="copmanyName", size="16", required, style="width: 96%;")

          div(class="row", style="text-align: center;margin-top: 0.5em;margin-bottom: 0.5em;")
            div(class="col-12", style="font-size: 1.2em;")
              span <b>Have You Shopped with Us Before?</b>
          div(class="row")
            div(class="col-6")(style="display: flex;align-items: center;justify-content: center;width:60%;")
                div(class="form-check")
                  input(type="radio" id="rdioYes" class="form-check-input" name="rdioYesNo" value="1" checked)
                  label(for="rdioYes" class="form-check-label") YES
            div(class="col-6")(style="display: flex;align-items: center;justify-content: center;width:60%;")
                div(class="form-check")
                  input(type="radio" id="rdioNo" class="form-check-input" name="rdioYesNo" value="0")
                  label(for="rdioNo" class="form-check-label") NO

  div(id="errorMessage")
   
    
      

