extends ../../layout

block head
  link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T", crossorigin="anonymous")
  link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.6.3/css/all.css", integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/", crossorigin="anonymous")
  link(rel="stylesheet", href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css")

block content
  .pb-2.mt-2.mb-4.border-bottom
    h1 Customer Waiting List
  .pb-2.mt-2.mb-4.border-bottom 
    .table-responsive
      table.table.table-hover(data-toggle="table",
            data-pagination="true",
            data-search="true")
        thead

          tr
            th(data-sortable="true", data-field="name") Name
            th(data-sortable="true", data-field="phoneNumber") Phone Number
            th(data-sortable="true", data-field="company") Company
            th(data-sortable="true", data-field="callOrText") Call or Text?
            th(data-sortable="false") Edit
        tbody
          each cust in waitingListCustomers
            tr
              td=cust.name
              td=cust.phoneNumber
              td=cust.company
              td=cust.callOrText == true ? 'call' : 'text' 
              td
                //- button() Edit 
                a.btn.btn-link.btn-edit-customer(href=`/dashboard/waiting-list/add?id=${cust.id}`
                                                 data-id=cust.id) Edit
    br
    a.btn.btn-link(href='/dashboard/waiting-list/add') Add New Customer 

  .pb-2.mt-2.mb-4.border-bottom
    script(src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js", integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM", crossorigin="anonymous")
    script(src="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.js")
    script(src="/js/customerWaitingList/customerWaitingList.js")
    script(src='/js/main.js')